*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.siteheader{
    
    margin-top: 10px;
    padding: 10px;
    &--heading{
        text-align: center;
    }
    &--searchcontainer{
       position: relative;
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 20px;
        &--searchbox{
           
            width: 70%;
            height: 30px;
            padding: 5px;
        }
        &--searchbox::placeholder{
            padding: 5px;
        }
        &--dropdown{
            position: absolute;
            top: 30px;
            left: 0;
            right: 70px;
            margin: auto;
            width: 68%;
            border: 1px solid #4a4a4a; 
            border-top: 0;
            z-index: 10;
            max-height: 10rem;
            overflow-x: auto;
            display: none;
        }
        &--chkbox{
            height: 15px;
            width: 15px;
        }
    }
}

.contentsection{
    padding: 20px;
    display: flex;
    gap: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    &--card{
        // flex-grow:1;
        cursor: pointer;
        text-align: center;
        width: 250px;
        height: 400px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        position: relative;
        border: 1px solid gray;
        transition: all 0.2s;
        
        &--productid{
            width: 45px;
            height: 25px;
            background-color: orange;
            position: absolute;
            top:2;
            left: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 12px;
            font-weight:700 ;
            color: whitesmoke;
            padding-top: 5px;
        }
        &--productimg{
            
            width: 220px;
            height: 200px;
        }
    }
    &--card:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        scale: 1.01;
     }
}

.productdetails{
    &--title{
        font-size: 14px;
    }
}

.dropitem{
    background-color: white;
    padding: 8px;
    cursor: pointer;
}
.dropitem:hover{
    background: rgb(214, 213, 213);
}